[[source]]
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-wtf = "*"
flask-login = "*"
flask-sqlalchemy = "*"
opencv-python = "*"
flask-bcrypt = "*"

[dev-packages]
requests = "*"
