[[source]]
name = "aliyun"
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true

[dev-packages]
yapf = "*"

[packages]
flask = "*"
flask-wtf = "*"
flask-login = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"

[requires]
python_version = "3.7"
