{% extends "layout.html" %}

{% block page_name %}Sign In{% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

<form action="/signin" method="post">
    <legend>Sign In:</legend>
    <div class="form-group">
        {{ form.email.label }}
        {{ form.email(class_="form-control") }}
    </div>

    <div class="form-group">
        {{ form.password.label }}
        {{ form.password(class_="form-control") }}
    </div>
    {{ form.csrf_token }}

    <input class="btn btn-primary" type="submit" value="Sign In">
</form>
{% endblock %}