.dropzone {
  border: 2px dashed #0087f7;
  border-radius: 5px;
  background: white;
}

#user-menu {
  width: auto;
}

.content-wrapper {
  background-color: white;
}

.blog-post {
  border-radius: 3px;
  border: 1px solid #efefef;
}

.blog-post p {
  margin: 10px 10px;
}

.image {
  width: 100%;
  height: 100%;
}
